*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 28px;
  width: 1140px;
  min-height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__details {
  width: 100%;
  min-height: 534px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .content__list-item {

} */

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  min-height: 107px;
}

.content__video-card-thumbnail {
  object-position: center;
  width: 194px;
  height: 103px;
  align-self: center;
  object-fit: cover;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #FFF;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  padding-bottom: 20px;

}

.content__accent {
  color: #545050;
}

.content__card-link {
  margin: 2px;
  display: inherit;
  text-decoration: none; 
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 1px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding-left: 2px;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
}

.search-form__fieldset-title {
  padding-bottom: 7.5px;
}

.search-form__label {
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  padding: 2.5px 14px 2.5px 0;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid currentColor;
  color: #FFF;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  margin: auto;
  width: 100%
}

.more-button:focus-visible {
  margin: auto;
  width: 98%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  padding: 1px;
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 19px;
  height: 19px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;

}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  padding: 2px;
  outline-color: white;
  outline-style: solid;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  text-underline-offset: 6px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card:focus-visible { 
  outline: none;
}
